# antlr generated
*.antlr
*.interp
*.tokens
*Parser*
*Lexer*

# vscode
.vscode

# local testing
student*
result/
ans.txt
Analyzer/tmp

# other generated
*.o
*.java
*.class
parsertestexe
full_text.txt
report.txt

Haskell_Java