# antlr generated
*.antlr
*.interp
*.tokens
*Parser*
*Lexer*
!HaskellBaseLexer.cpp
!HaskellBaseLexer.h
!*.g4

# vscode
.vscode

# local testing
student*
ans.txt
Analyzer/tmp
Analyzer/stackage/
ghc-master-testsuite*

# other generated
*.o
*.java
*.class
parsertestexe

# helpers in analysis
full_text*
full_list*
report*
