# antlr generated
*.antlr
*.interp
*.tokens
*Parser*
*Lexer*

# vscode
.vscode

# local testing
student*
result/
ans.txt
Analyzer/tmp
Analyzer/stackage/

# other generated
*.o
*.java
*.class
parsertestexe

# helpers in analysis
full_text*
full_list*
report*

Haskell_Java