{% extends "base.html" %}

{% block content %}
<h2>Генератор паролей...</h2>

<div class="countainer">
    <div class="row">
        <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <h3>Пароль надежен как этот щит!</h3>
            <img src="{{url_for('static', filename='pshit.jpg')}}" class="img-circle" alt="Cinque Terre" align="middle" width="500" height="600" />
            <div class="card-body">
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}